.offscreenDare {
    margin-right: -74.5454545vh;
    pointer-events: none;
}

.offscreenTruth {
    margin-left: -74.5454545vh;
    pointer-events: none;
}

.goUnder {
    margin-top: 100vh !important;
}