@font-face{
    font-family: Fedra;
    src: url('../fonts/FedraSansAltPro/FedraSansAltPro-Medium.otf');
}

@font-face{
    font-family: FedraBook;
    src: url('../fonts/FedraSansAltPro/FedraSansAltPro-Book.otf');
}

@font-face{
    font-family: FedraDemi;
    src: url('../fonts/FedraSansAltPro/FedraSansAltPro-Demi.otf');
}

@font-face{
    font-family: FedraBold;
    src: url('../fonts/FedraSansAltPro/FedraSansAltPro-Bold.otf');
}

body {
    background-color: #f3f3f3;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 900px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
    background-color: #f3f3f3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#replay {
    transition: 0.5s;
	background: #F3F3F3;
	width: 6.72727273vh;
	height: 6.72727273vh;
	box-shadow: 2px -1px 2px 0 #FEFEFE, -1px 2px 2px 0 rgba(0,0,0,0.16);
	border-radius: 100%;
    cursor: pointer;

	position: absolute;
    top: 0;
    margin-top: 81.81vh;
	left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 3.63636364vh;
    height: 3.63636364vh;
}

#replay img {
    transition: 0.5s;
    width: 100%;
    height: 100%;
}

#replay .inside {
    border-radius: 100%;   
    width: 5.81818182vh;
    height: 5.81818182vh;
}

#replay:hover img {
    opacity: 0.6;
}

#replay:active img {
    opacity: 0.3;
}

#replay:active .inside {
    opacity: 0;
}

.wideBtn {
    transition: 0.5s;
    box-shadow: 5px 5px 5px 0 rgba(222,222,230,0.5), -3px -3px 5px 0 #FEFEFE;
    width: 54.5454545vh;
    height: 18.1818182vh;
    border-radius: 4.54545455vh;
    position: absolute;
    top: 40.9090909vh;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: FedraBold;
    font-size: 7.27272727vh;
}

.wideBtn p {
    transition: 0.2s;
}

.wideBtn:hover p {
    opacity: 0.5;
}

.wideBtn:active p {
    opacity: 0.3;
}

.wideBtn:active .inside {
    opacity: 0;
}

#truth {
    left: 20vh;
    color: #DF7575;
}

#dare {
    right: 20vh;
    color: #99B2DD;
}

#dare .inside {
    transform: scaleX(-1);
}

.inside {
    transition: 0.2s;
    position: absolute;
    pointer-events: none;
    box-shadow: -4px 4px 6px 0 rgb(254 254 254 / 48%), 4px -4px 6px 0 rgb(254 254 254 / 20%);
    border-radius: 23px;
    width: 52vh;
    height: 15.6363636vh;
}

#spinner {
    transition: 0.4s;
    box-shadow: inset -3px -3px 4px 0 #FEFEFE, inset 3px 3px 4px 0 rgba(222,222,230,0.5);
    width: 127.272727vh;
    height: 36.3636364vh;
    border-radius: 5.45454545vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#spinner p {
    width: 120vh;
    font-family: Fedra;
    font-size: 3.63636364vh;
    color: rgba(89,107,128,0.4);
    text-align: center;
}

.closed {
    height: 0 !important;
}