@font-face{
    font-family: Fedra;
    src: url('../fonts/FedraSansAltPro/FedraSansAltPro-Medium.otf');
}

@font-face{
    font-family: FedraBook;
    src: url('../fonts/FedraSansAltPro/FedraSansAltPro-Book.otf');
}

@font-face{
    font-family: FedraDemi;
    src: url('../fonts/FedraSansAltPro/FedraSansAltPro-Demi.otf');
}

@font-face{
    font-family: FedraBold;
    src: url('../fonts/FedraSansAltPro/FedraSansAltPro-Bold.otf');
}

body {
    background: #F3F3F3;
    width: 900px;
    height: 550px;
    overflow: hidden;
}

.container {
    width: 900px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#replay {
    transition: 0.5s;
	background: #F3F3F3;
	width: 37px;
	height: 37px;
	box-shadow: 2px -1px 2px 0 #FEFEFE, -1px 2px 2px 0 rgba(0,0,0,0.16);
	border-radius: 100%;
    cursor: pointer;

	position: absolute;
    top: 0;
    margin-top: 450px;
	left: 431px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 20px;
    height: 20px;
}

#replay img {
    transition: 0.5s;
    width: 100%;
    height: 100%;
}

#replay .inside {
    border-radius: 100%;   
    width: 32px;
    height: 32px;
}

#replay:hover img {
    opacity: 0.6;
}

#replay:active img {
    opacity: 0.3;
}

#replay:active .inside {
    opacity: 0;
}

.wideBtn {
    transition: 0.5s;
    box-shadow: 5px 5px 5px 0 rgba(222,222,230,0.5), -3px -3px 5px 0 #FEFEFE;
    width: 300px;
    height: 100px;
    border-radius: 25px;
    position: absolute;
    top: 225px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: FedraBold;
    font-size: 40px;
}

.wideBtn p {
    transition: 0.2s;
}

.wideBtn:hover p {
    opacity: 0.5;
}

.wideBtn:active p {
    opacity: 0.3;
}

.wideBtn:active .inside {
    opacity: 0;
}

#truth {
    left: 100px;
    color: #DF7575;
}

#dare {
    right: 100px;
    color: #99B2DD;
}

#dare .inside {
    transform: scaleX(-1);
}

.inside {
    transition: 0.2s;
    position: absolute;
    pointer-events: none;
    box-shadow: -4px 4px 6px 0 rgb(254 254 254 / 48%), 4px -4px 6px 0 rgb(254 254 254 / 20%);
    border-radius: 23px;
    width: 286px;
    height: 86px;
}

#spinner {
    transition: 0.4s;
    box-shadow: inset -3px -3px 4px 0 #FEFEFE, inset 3px 3px 4px 0 rgba(222,222,230,0.5);
    width: 700px;
    height: 200px;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#spinner p {
    width: 660px;
    font-family: Fedra;
    font-size: 20px;
    color: rgba(89,107,128,0.4);
    text-align: center;
}

.closed {
    height: 0 !important;
}